<!DOCTYPE html>
<html>
<head>
<div th:replace="fragments/header :: header-css" />
</head>
<body>

	<div th:fragment="header">
		<nav class="navbar navbar-inverse">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse"
						data-target="#myNavbar">
						<span class="icon-bar"></span> <span class="icon-bar"></span> <span
							class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="/">WebSiteName</a>
				</div>
				<div class="collapse navbar-collapse" id="myNavbar">
					<ul class="nav navbar-nav">

					</ul>
					<ul class="nav navbar-nav navbar-right">
						<li><a href="#"><span class="glyphicon glyphicon-log-out"></span>
								Signin</a></li>
					</ul>
				</div>
			</div>
		</nav>
	</div>

	<div class="container">
		<div class="panel-group">
			<div class="panel panel-default">
				<div class="panel-heading">Panel with panel-default class</div>

				<div class="panel-body">
					<h3>Collapsible Navbar</h3>
					<button type="button" class="btn btn-primary">Sign in</button>
					<p>Only when the button is clicked, the navigation bar will be
						displayed.</p>
					<p>In this example, the navigation bar is hidden on small
						screens and replaced by a button in the top right corner (try to
						re-size this window).</p>

					<h3>Collapsible Navbar</h3>
					<p>Only when the button is clicked, the navigation bar will be
						displayed.</p>
					<button type="button" class="btn btn-success">Sign up</button>


				</div>
			</div>
		</div>

	</div>

	<div th:replace="fragments/footer :: footer">&copy; 2016 The
		Static Templates</div>
</body>
</html>