<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Home Example</title>
	
	<div th:replace="fragments/header :: header-css"/>
	
	<!-- <script th:src="@{js/index.js}"></script> -->
	<script th:src="@{js/research.js}"></script>
</head>

<body>

<div th:replace="fragments/header :: header"/>

	<div class="container">
		<div class="panel-group">
			<div class="panel panel-default">
				<div class="panel-heading">Research Panel</div>
				 
				<div class="panel-body">
					
					<p>our recommendations</p>

					<table id="example" class="table table-striped table-bordered"
						style="width: 100%">
						<thead>
							<tr>
								<th>SYMBOL</th>
								<th>DATE</th>
								<th>RESEARCH PRICE</th>
								<th>CURRENT</th>
								<th>LOW52</th>
								<th>HIGH52</th>
								<th>%</th>
							</tr>
						</thead>
						<tfoot>
							<tr>
								<th>SYMBOL</th>
								<th>DATE</th>
								<th>RESEARCH PRICE</th>
								<th>CURRENT</th>
								<th>LOW52</th>
								<th>HIGH52</th>
								<th>%</th>
							</tr>
						</tfoot>
					</table>

				</div>
			</div>
		</div>

	</div>

	<div th:replace="fragments/footer :: footer"/>
</body>
</html>
